
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;   
	min-height: 100vh;  
    width: 100%;  
   background: linear-gradient(212deg,#f72b2b,#2b98f7,#2bf7be);
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite; 
}
        /*   #f72b2b,#2b98f7,#2bf7be   */
      
      
      @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

/* ------------------------------------ HEADER ---------------------------------------- */
header {
    background: linear-gradient(-45deg, #1e338e, #0056b3, #1e338e);
	background-size: 700% 700%;
	animation: gradient 15s ease infinite;
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 80px;
    
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
    
}
h4{
    display: block;
    background: linear-gradient(45deg, var(--c1, #ff6262), var(--c2, #7178ff) 51%, var(--c1, #ff6262)) var(--x, 0)/ 200%;
    background-clip: text;
    color: transparent;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 0;
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid rgb(140, 140, 140);
}
.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.flex-grow {
    flex-grow: 1; /* Allow the title to take up available space */
    text-align: center;
}

nav ul {
    display: flex; /* Ensure the list items are in a horizontal line */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.buscador {
    margin-right: 20px;
}

nav ul li {
    margin-left: 20px; /* Space between list items */
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none; /* Remove underline from links */
    color: rgb(255, 255, 255); /* Default text color */
}

nav ul li a:hover {
    color: rgb(85, 178, 255); /* Change color on hover */
}

/* ----------------------------------------------------------------- */
.botonnn{
 width: 50%; /* O cualquier ancho fijo */
  margin: 0 auto; /* 0 arriba/abajo, auto a los lados */
  display: flex;
  justify-content: center; /* Centrado horizontal */
}

.btn {
    display: inline-block;
    margin-top: 15px;
    
    padding: 10px 20px;
     background: linear-gradient(45deg, var(--c1, #ff6262), var(--c2, #7178ff) 51%, var(--c1, #ff6262)) var(--x, 0)/ 200%;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
        transition: 0.5s;
        
        

}
.btn:hover {
    --x: 100%;
}


.buttonX {
    display: block;
    background: linear-gradient(45deg, var(--c1, #ff6262), var(--c2, #7178ff) 51%, var(--c1, #ff6262)) var(--x, 0)/ 200%;
    background-clip: text;
    color: transparent;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 0;
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid rgb(140, 140, 140);
}
.buttonX:hover {
    --x: 100%;
    
}
.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: left;
}
.modal-content h2 {
    margin-top: 0;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* ------------------------------------ PDF ---------------------------------------- */
/* Estilos para la cuadrícula de PDFs */
h2{
    text-align: center;
}
.pdf{
    position: relative;
    width: 90%;
    height: 500px;
    left: 50%;
    transform: translate(-50%, 0);
}














/* *********************** MAIN MENU ******************************* */
.parent {
    position: relative;
    width: 90%;
    height: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10px;;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }
  
  .CAJA1 { grid-area: 1 / 4 / 3 / 5; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('https://raw.githubusercontent.com/Ezeote/medquizz/refs/heads/main/Media/PRACTICAR2.png');
    background-size: cover;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    box-shadow: 0px 0px 30px -13px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 30px -13px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 30px -13px rgba(0,0,0,1);
transition: 0.5s;
  }
.CAJA1:hover{
    background-color: rgba(255,255,255,0);
}



  .CAJA2 { grid-area: 1 / 1 / 5 / 4; 
    box-shadow: 0px 0px 30px -13px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 30px -13px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 30px -13px rgba(0,0,0,1);
  }

  
  .CAJA3 { grid-area: 3 / 4 / 5 / 5; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('https://raw.githubusercontent.com/Ezeote/medquizz/refs/heads/main/Media/RESUMENES.jpg');      /*https://github.com/Ezeote/medquizz/blob/main/Media/RESUMENES.jpg   https://raw.githubusercontent.com/Ezeote/medquizz/refs/heads/main/Media/Resumiendo.jpg*/
    background-size: cover;
    background-color: rgba(255,255,255,0.1);
    background-blend-mode: lighten;
    box-shadow: 0px 0px 30px -13px rgba(0,0,0,1);
-webkit-box-shadow: 0px 0px 30px -13px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 30px -13px rgba(0,0,0,1);
transition: 0.5s;
  }
  
  /* ***** TEXTO SLIDERS ***** */
  .h3 {
    
    font-family: impact;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    width: 100%;
    
    background: linear-gradient(-45deg, #ffbf71, #ff6262, #ffbf71, #ff6262);
	background-size: 700% 700%;
	animation: gradient 15s ease infinite;
    background-clip: text;
    color: transparent;
    transition: 0.5s;
    margin: auto;
  }

  .TituloWord {
    font-family: impact;
    font-size: 50px;
  color: #fff;
  margin: 0px;
  width: 100%;
  text-align: center;
  -webkit-text-stroke: 1px black;
  }
  
  /* ************ SLIDER ************ */
  .slideshow {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
  }
  
  .slide {
    
    flex: 0 0 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    background-size: cover;
  }
  .slide-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .slide-content {
    position: relative;
    z-index: 2;
    pointer-events: none; /* Permite clics a través del contenido */
    text-align: center;
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
  }
  
  /* Flechas */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-size: 20px;
    transition: 0.3s;
    user-select: none;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  /* Puntos */
  .dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .dot.active {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  
  /* ************ ******** ************ */
.mainResum {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 80%;
    height:auto;
    justify-content: center;
    align-items: center;
    
    left: 50%;
    transform: translate(-50%, 0);

    margin: 0px;
    padding: 20px;
    padding-bottom: 20px;

    -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.55);

}




/*      DISTINTAS RESOLUCIONES      */

/* 2xl */
@media (max-width: 1536px) {
    section .que_text{
        font-size: 25px;
  }
}


/* xl */
@media (max-width: 1280px) {
    section .que_text{
        font-size: 25px;    
    }
}

/* lg */
@media (max-width: 1024px) {
    section .que_text{
        font-size: 20px;
  }
}

/* md */
@media (max-width: 768px) {
    section .que_text{
        font-size: 15px;
    }
}

/* sm */
@media (max-width: 640px) {
    section .que_text{
        font-size: 10px;
    }
    h1{
    text-align: center;
    color: white;
    font-size: 15px;
}
    section .option_list .option{
    font-size: 10px;
    }

    section .option_list .option{
        font-size: 10px;
    }
    .logo{
        height: 50px;
    }
}

/* xs */
@media (max-width: 475px) {
    img{
        width: 100%;
    }

    header{
        height: 40px;
    }
    h1{
        text-align: center;
        color: white;
        font-size: 15px;
    }

    .logo{
        height: 30px;
    }
    .info_box{
        width: 95%;
        top: 40%;
        left: 50%;

    }    

    nav ul {
        display: flex; /* Ensure the list items are in a horizontal line */
        list-style: none; /* Remove default list styling */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
    }
    
    .buscador {
        margin-right: 15px;
    }
    
    nav ul li {
        margin-left: 20px; /* Space between list items */
        margin-right: 20px;
    }
    
    nav ul li a {
        text-decoration: none; /* Remove underline from links */
        color: rgb(255, 255, 255); /* Default text color */
        font-size: 15px;
    }
    
    nav ul li a:hover {
        color: rgb(85, 178, 255); /* Change color on hover */
    }

    /* ************* MAIN MENU *************** */

    .parent {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 10px;
    }
    
    .CAJA1 {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        background-size: contain;
    }
    
    .CAJA2 {
        grid-area: 2 / 1 / 5 / 2;
        width: 100%;
        background-size: contain;
    }
    
    .CAJA3 {
        grid-area: 5 / 1 / 6 / 2;
        width: 100%;
        background-size: contain;
    }
    .CAJA1 img,
    .CAJA2 img,
    .CAJA3 img {
        width: 100%;
        height: auto;
    }
}


    /* ******************* ACA TERMINA CELU ************************ */




.mainResult{
    display: grid;
    place-items: center;
}
.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    
}
.result_box .score_Text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.result_box .score_text span{
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
}
.result_box .score_text p{
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
}

.result_box .buttons{
    display: flex;
    margin: 0px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

/*  ESTADISTICAS DE LOS RESULTADOS  */
.discipline_results {
    display: block;
    justify-content: space-around; /* Space out the circles */
    margin-top: 0px;
}

/*CÍRCULO GRANDE*/
.mainCircle {
    width: 150px; /* Size of the circle */
    height: 150px; /* Size of the circle */
    border-radius: 50%; /* Make it circular */
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px; /* Font size for the percentage text */
    background: conic-gradient(
        transparent 0%, /* Green for correct answers */
        transparent var(--percentage, 0%), /* Dynamic percentage */
        #e0e0e0 var(--percentage, 0%), /* Light gray for incorrect answers */
        #e0e0e0 100%
    );
}

.mainCircle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        transparent 0%, /* Green for correct answers */
        transparent var(--percentage, 0%), /* Dynamic percentage */
        #e0e0e0 var(--percentage, 0%), /* Light gray for incorrect answers */
        #e0e0e0 100%
    );
    z-index: 1; /* Place it behind the text */
}

.mainCircle span {
    color: black;
    width: 120px;
    height: 120px;
    text-align: center;
    z-index: 2; /* Place it above the background */
    background-color: white;
    border-radius: 150px;
}


                    /*CIRCULOS CHICOS*/
                    .circle {
                        width: 90px; /* Size of the circle */
                        height: 90px; /* Size of the circle */
                        border-radius: 50%; /* Make it circular */
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        font-size: 16px; /* Font size for the percentage text */
                        color: white; /* Text color */
                    }

                    .circle::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background: conic-gradient(
                            #4caf50 0%, /* Green for correct answers */
                            #4caf50 var(--percentage, 0%), /* Dynamic percentage */
                            #e0e0e0 var(--percentage, 0%), /* Light gray for incorrect answers */
                            #e0e0e0 100%
                        );
                        z-index: 1; /* Place it behind the text */
                    }

                    .circle span {
                        color: black;
                        width: 80px;
                        height: 80px;
                        text-align: center;
                        z-index: 2; /* Place it above the background */
                        background-color: white;
                        border-radius: 150px;
                        
                    }




.discipline_container {
    margin-bottom: 0px;
}
h3{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0;
}
.question_grid {
    display: flex;
    flex-wrap: wrap;
}

.question_box {
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Text color */
    font-weight: bold;
    border-radius: 5px; /* Rounded corners */
}



/* ************** BUSCADOR ******************  */
.buscador {
    margin-right: 5px;
    width: 50px;
}


#search-results {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 95%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-item {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.result-item p {
    font-weight: bold;
}

.result-item ul {
    list-style-type: none;
    padding: 0;
}

.result-item li {
    margin: 5px 0;
}



/* ******************************************* */


